﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2010</h5>
                    <p class="card-text">Get mlb2010 details</p>
                    <a asp-controller="Mlb2010" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2011</h5>
                    <p class="card-text">Get mlb2011 details</p>
                    <a asp-controller="Mlb2011" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2012</h5>
                    <p class="card-text">Get mlb2012 details</p>
                    <a asp-controller="Mlb2012" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2013</h5>
                    <p class="card-text">Get mlb2013 details</p>
                    <a asp-controller="Mlb2013" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2014</h5>
                    <p class="card-text">Get mlb2014 details</p>
                    <a asp-controller="Mlb2014" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2015</h5>
                    <p class="card-text">Get mlb2015 details</p>
                    <a asp-controller="Mlb2015" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2016</h5>
                    <p class="card-text">Get mlb2016 details</p>
                    <a asp-controller="Mlb2016" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2017</h5>
                    <p class="card-text">Get mlb2017 details</p>
                    <a asp-controller="Mlb2017" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2018</h5>
                    <p class="card-text">Get mlb2018 details</p>
                    <a asp-controller="Mlb2018" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2019</h5>
                    <p class="card-text">Get mlb2019 details</p>
                    <a asp-controller="Mlb2019" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2020</h5>
                    <p class="card-text">Get mlb2020 details</p>
                    <a asp-controller="Mlb2020" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Mlb2021</h5>
                    <p class="card-text">Get mlb2021 details</p>
                    <a asp-controller="Mlb2021" asp-action="Index" class="btn btn-dark">Click here!</a>
                </div>
            </div>
        </div>







    </div>
</div>