model GroupedViewModel

<h2>Grouped by @Model.GroupColumn</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Model.GroupColumn</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupedData)
        {
            <tr>
                <td>@item.Value</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>